#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.form-card {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto 2rem auto;
}

.secrets-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  width: 100%;
}

.secret-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  background-color: #333; /* Darker card */
  padding: 1.5rem;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.logout-btn {
  background-color: #dc3545; /* Red */
  padding: 0.5rem 1rem;
}

.secret-card {
  position: relative; /* Allows absolute positioning of the delete button */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-content {
  text-align: left;
}

.delete-btn {
  background-color: transparent;
  border: 1px solid #444;
  padding: 0.5rem;
  font-size: 1.2rem;
  line-height: 1;
}

.delete-btn:hover {
  background-color: #3f0f0f;
  border-color: #ff4444;
}